body {
    font-family: Arial, sans-serif;
    background: #50a7b7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.todo-container {
    background: white;
    padding: 25px;
    border-radius: 10px;
    width: 380px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.input-area {
    display: flex;
    gap: 10px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 2px solid #4CAF50;
    border-radius: 5px;
}

button {
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: #4CAF50;
    color: white;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 15px;
}

li {
    background: #e8f5e9;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 8px;

   
    opacity: 0;
    transform: translateY(10px);
    animation: fadeIn 0.4s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.task-text {
    flex: 1;
    transition: all 0.3s ease;
}

.completed {
    text-decoration: line-through;
    color: gray;
    opacity: 0.6;
}

.delete-btn {
    background: red;
}

.edit-btn {
    background: orange;
}

.stats {
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}

.message {
    text-align: center;
    color: green;
    font-weight: bold;
    margin-top: 10px;
    opacity: 0;
    transition: opacity 0.3s;
}

.message.show {
    opacity: 1;
}
